<div class="bulletin-board">

</div>
<div class="login-section">
  <span class="login-title">LOG MASUK</span>
  <div class="login-card">
    <input type="text" name="userId" placeholder="MyID">
    <input type="password" name="userPassword" placeholder="Kata Laluan">
    <div class="login-buttons">
      <div class="button-primary">Daftar Masuk</div>
      <div class="button-primary">Lupa Kata Laluan</div>
    </div>
  </div>
  <span class="login-title">PENDAFTARAN PENGGUNA</span>
  <span class="register-note">
    <a href="#">Klik di sini</a> unput mendapatkan ID Pengguna bagui melayari system ini.
  </span>
</div>
